<section>
    <div class="container">
        <h2>Contact</h2>
        <div class="contact-container">
            <div class="info-container">
                <div class="info-subheading">Got a problem to solve?</div>
                <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</p>
                <div class="info-cta">Need a Frontend developer? <span>Contact me!</span></div>
                <img class="ellipse-1" src="./assets/img/ellipse.svg" alt="ellipse" draggable="false">
            </div>
            <app-contact-form class="w-50"></app-contact-form>
        </div>
        <div class="arrow-wrapper">
            <a href="#" class="arrow-subwrapper">
                <img class="arrow-main" src="./assets/img/arrow-transp.svg" alt="Arrow main">
                <img class="arrow-hover" src="./assets/img/arrow-blue.svg" alt="Arrow hover">
            </a>
        </div>
    </div>
</section>