<section>
    <div class="container">
        <h2 data-aos="fade-right">{{ isEnglish ? translations.english.title : translations.german.title }}</h2>
        <div class="contact-container">
            <div class="info-container">
                <div class="info-subheading" data-aos="fade-right">{{ isEnglish ? translations.english.subtitle : translations.german.subtitle }}</div>
                <p data-aos="fade-right">{{ isEnglish ? translations.english.description : translations.german.description }}</p>
                <div class="info-cta" data-aos="fade-right">{{ isEnglish ? translations.english.q : translations.german.q }}
                    <span>{{ isEnglish ? translations.english.a : translations.german.a }}</span>
                </div>
                <img class="ellipse-1" src="./assets/img/ellipse.svg" alt="ellipse" draggable="false">
            </div>
            <app-contact-form class="w-50"></app-contact-form>
        </div>
        <div class="arrow-wrapper">
            <a href="#" class="arrow-subwrapper">
                <img class="arrow-main" src="./assets/img/arrow-transp.svg" alt="Arrow main">
                <img class="arrow-hover" src="./assets/img/arrow-blue.svg" alt="Arrow hover">
            </a>
        </div>
    </div>
</section>