@import '../../shared/styles/mixins.scss';
@import '../../shared/styles/variables.scss';

section {
    padding-top: 100px;
    padding-bottom: 120px;
    background-image: linear-gradient(168deg, transparent 50%, rgba(89, 136, 255, 0.2));
}

h2 {
    font-size: 96px;
    color: $main-color;
    padding-bottom: 100px;
    @include mq(tablet) {
        font-size: 80px;
        text-align: center;
        padding-bottom: 64px;
    }
    @include mq(mobile) {
        font-size: 64px;
        text-align: start;
        padding-bottom: 48px;
    }
}

.contact-container {
    @include flexbox($ai: start);
    @include mq(tablet) {
        flex-direction: column;
    }
}

.info-container {
    width: 50%;
    padding-right: 120px;
    position: relative;
    @include mq(tablet) {
        width: 100%;
        padding: 0;
        overflow: hidden;
        padding-bottom: 32px;
    }

    .info-subheading {
        font-weight: bold;
        font-size: 32px;
        color: $main-color;
        padding-bottom: 40px;
        @include mq(tablet) {
            text-align: center;
        }
        @include mq(mobile) {
            text-align: start;
        }
    }

    p {
        color: $font-black;
        font-size: 16px;
        padding-bottom: 32px;
        @include mq(tablet) {
            text-align: center;
        }
        @include mq(mobile) {
            text-align: start;
        }
    }

    .info-cta {
        font-size: 16px;
        color: $main-color;
        @include mq(tablet) {
            text-align: center;
        }
        @include mq(mobile) {
            text-align: start;
        }

        span {
            font-family: 'Baloo 2', 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 18px;
        }
    }

    .ellipse-1 {
        position: relative;
        z-index: -1;
        top: 40px;
        left: 160px;
        width: 204px;

        @include mq(tablet) {
            display: none;
        }
    }
}

.arrow-wrapper {
    position: absolute;
    bottom: -80px;
    left: 0;
    padding-left: inherit;
}

.arrow-subwrapper {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
}

.arrow-hover,
.arrow-main {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    transition: opacity .2s ease-in-out;
}

.arrow-hover {
    opacity: 0;
    z-index: 1;
}

.arrow-subwrapper:hover .arrow-hover {
    opacity: 1;
}

.arrow-subwrapper:hover .arrow-main {
    opacity: 0;
}

.w-50 {
    width: 50%;
    @include mq(tablet) {
        width: 100%;
    }
}