<header>
    <div class="container">
        <div class="header-container">
            <a routerLink="/">
                <img *ngIf="isMainRoute" src="./assets/img/logo.svg" alt="Logo">
                <img *ngIf="!isMainRoute" src="./assets/img/logo-blue.svg" alt="Logo">
            </a>
            <nav>
                <ul>
                    <li><a [routerLink]="['/']" fragment="about">About Me</a></li>
                    <li><a [routerLink]="['/']" fragment="skills">Skill Set</a></li>
                    <li><a [routerLink]="['/']" fragment="work">My Work</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>