<header>
    <div class="container">
        <div class="header-container">
            <a routerLink="/">
                <img *ngIf="isMainRoute" src="./assets/img/logo.svg" alt="Logo">
                <img *ngIf="!isMainRoute" src="./assets/img/logo-blue.svg" alt="Logo">
            </a>
            <nav *ngIf="screenWidth >= 768">
                <ul>
                    <li><a [routerLink]="['/']" fragment="about">
                        {{ isEnglish() ? translations.english.about : translations.german.about }}</a>
                    </li>
                    <li><a [routerLink]="['/']" fragment="skills">
                        {{ isEnglish() ? translations.english.skills : translations.german.skills }}</a>
                    </li>
                    <li><a [routerLink]="['/']" fragment="work">
                        {{ isEnglish() ? translations.english.work : translations.german.work }}</a>
                    </li>
                    <li><a [routerLink]="['/']" fragment="contact">
                        {{ isEnglish() ? translations.english.contact : translations.german.contact }}</a></li>
                </ul>
            </nav>
            <div *ngIf="screenWidth <= 767.98">
                <div class="header__top">
                    <div class="header__hamburger-container" (click)="toggleMenu()" [class.hamburger-active]="isMenuOpen">
                        <span class="header__hamburger"></span>
                    </div>
                </div>
                <div class="header__menu" (click)="toggleMenu()" [class.header__menu-overlay]="isMenuOpen">
                    <a routerLink="/">
                        <img [class.menu-logo]="isMenuOpen" src="./assets/img/logo-blue.svg" alt="Logo">
                    </a>
                    <div class="lang-container lang-mobile">
                        <div>
                            <span (click)="changeLanguage('DE')" class="lang">DE</span>
                            <span class="separator"></span>
                            <span (click)="changeLanguage('EN')" class="lang">EN</span>
                        </div>
                    </div>
                    <ul class="header__menu-list">
                        <li class="header__menu-item">
                            <a class="header__menu-link" routerLink="/" fragment="about">
                                {{ isEnglish() ? translations.english.about : translations.german.about }}</a>
                        </li>
                        <li class="header__menu-item">
                            <a class="header__menu-link" routerLink="/" fragment="skills">
                                {{ isEnglish() ? translations.english.skills : translations.german.skills }}</a>
                        </li>
                        <li class="header__menu-item">
                            <a class="header__menu-link" routerLink="/" fragment="work">
                                {{ isEnglish() ? translations.english.work : translations.german.work }}</a>
                        </li>
                        <li class="header__menu-item">
                            <a class="header__menu-link" routerLink="/" fragment="contact">
                                {{ isEnglish() ? translations.english.contact : translations.german.contact }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="screenWidth >= 768" class="lang-container">
                <div>
                    <span (click)="changeLanguage('DE')" class="lang">DE</span>
                    <span class="separator"></span>
                    <span (click)="changeLanguage('EN')" class="lang">EN</span>
                </div>
            </div>
        </div>
    </div>
</header>