<section>
    <div class="container">
        <div class="intro">
            <h2 data-aos="fade-right">{{ isEnglish ? translations.english.title : translations.german.title }}
            </h2>
            <p data-aos="fade-right">{{ isEnglish ? translations.english.subtitle : translations.german.subtitle }}</p>
        </div>
        <img class="ellipse-2" src="./assets/img/ellipse.svg" alt="ellipse" draggable="false">

        <app-work-sample *ngFor="let sample of workSamples, let i = index" [sample]="sample"
        [index]="i" [samplesLength]="workSamples.length"></app-work-sample>
    </div>
    <img class="ellipse-1" src="./assets/img/ellipse.svg" alt="ellipse" draggable="false">
</section>