@import '../../shared/styles/mixins.scss';
@import '../../shared/styles/variables.scss';

section {
    padding-top: 120px;
    padding-bottom: 160px;
    overflow: hidden;
    position: relative;

    @include mq(tablet) {
        padding-bottom: 20px;
        overflow: hidden;
    }
}

.intro {
    padding-right: 50%;
    padding-bottom: 120px;

    @include mq(tablet) {
        padding-right: 0;
        padding-bottom: 100px;
    } 

    h2 {
        position: relative;
        color: $main-color;
        font-size: 96px;
        padding-bottom: 32px;

        @include mq(tablet) {
            text-align: center;
            font-size: 80px;
        }
        @include mq(mobile) {
            text-align: start;
            font-size: 64px;
        }
    }

    p {
        color: $font-black;
        font-size: 23px;

        @include mq(tablet) {
            text-align: center;
        }
        @include mq(mobile) {
            text-align: start;
        }
    }
}

.ellipse-2 {
    box-sizing: content-box;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 80px;
    padding-right: inherit;
    width: 180px;
    display: inline-block;

    @media (max-width: 415px) {
        top: 150px;
        width: 140px;
    }
}

.ellipse-1 {
    position: absolute;
    z-index: -1;
    right: 38%;
    top: 60px;
    width: 100px;
    display: inline-block;

    @include mq(tablet) {
        right: 18%;
    }

    @include mq(mobile) {
        right: 0;
        transform: translateX(50%);
    }
}