@import '../../shared/styles/variables.scss';
@import '../../shared/styles/mixins.scss';

.hero {
    position: relative;
    height: 100%;
    @include flexbox();

    &__main-content {
        @include flexbox();
        height: 100%;
        padding-top: 80px;
    }

    &__left {
        @include flexbox($ai: end);
        height: 100%;
        width: 50%;

        img {
            display: block;
            width: 100%;
            object-fit: contain;
            height: 100%;
            object-position: center 100px;
        }

        @media(max-width: 1260px) {
            img {
                object-fit: cover;
            }
        }
    }

    &__right {
        width: 50%;
        height: 100%;
        padding-top: 64px;
        @include flexbox($ai: start);

        h1 {
            color: $main-color;
            font-size: 128px;

            .greet {
                font-size: 64px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
            }
        }
    }

    &__icons {
        position: absolute;
        bottom: 0;
        right: 0;
        @include flexbox($fd: column, $gap: 32px);
        padding-bottom: 32px;
        padding-right: inherit;

        img {
            display: block;
            cursor: pointer;
            transition: all .15s ease-in-out;

            &:hover {
                transform: scale(1.25) translateX(-4px);
            }
        }
    }

    &__scroll {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 65vw;
        @include flexbox($fd: column, $jc: end, $gap: 8px);

        span {
            color: $main-color;
            font-size: 23px;
        }

        .scroll-wrapper {
            width: 2px;
            height: 25%;
            overflow: hidden;
        }

        .scroll-line {
            content: '';
            display: block;
            width: 100%;
            height: 125%;
            background-color: $main-color;
            animation: moveDown 3.5s ease-out infinite;
        }

        @keyframes moveDown {
            from {
              transform: translateY(-100%);
            }
            to {
              transform: translateY(100%);
            }
        }
    }
}

.ellipse-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;

    .ellipse {
        transform: translate(-15vw, -10vw);
        display: inline-block;
        width: 60vw;
        aspect-ratio: 1 / 1;
    }
}

.ellipse-overlap {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
    transform: translateY(50%);
}

.container {
    height: 100%;
    position: relative;
}