@import '../../shared/styles/variables.scss';
@import '../../shared/styles/mixins.scss';

.hero {
    position: relative;
    height: 100%;
    @include flexbox();

    &__main-content {
        @include flexbox();
        height: 100%;
        padding-top: 80px;
    }

    &__left {
        @include flexbox($ai: end);
        height: 100%;
        width: 50%;
        @include mq(mobile) {
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }

        img {
            display: block;
            width: 100%;
            object-fit: contain;
            height: 90%;
            object-position: bottom;
            @include mq(mobile) {
                padding-top: 230px;
                object-position: bottom;
                object-fit: contain;
            }
        }
    }

    &__right {
        width: 50%;
        height: 100%;
        padding-top: 64px;
        @include flexbox($ai: start, $jc: end);
        @include mq(tablet) {
            padding-top: 120px;
        }
        @include mq(mobile) {
            width: 100%;
            position: absolute;
            @include page-padding;
            color: $font-white;
            justify-content: start;
            padding-top: 80px;
        }

        @media(max-width: 440px) {
            padding-top: 100px;
        }

        h1 {
            color: $main-color;
            font-size: 96px;
            width: min-content;

            @media(min-width: 1400px) {
                font-size: 118px
            }

            @media(max-width: 1200px) {
                font-size: 80px;
            }

            @include mq(mobile) {
                color: $font-white;
                font-size: 76px;
            }

            @media (max-width: 450px) {
                font-size: 64px;
            }

            @media (max-width: 380px) {
                font-size: 56px;
            }

            .greet {
                font-size: 40px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;

                @media(min-width: 1400px) {
                    font-size: 56px
                }

                @include mq(mobile) {
                    color: $font-white;
                    font-size: 36px;
                }
                
                @media (max-width: 450px) {
                    font-size: 32px;
                }

                @media (max-width: 380px) {
                    font-size: 28px;
                }
            }
        }
    }

    &__icons {
        position: absolute;
        bottom: 0;
        right: 0;
        @include flexbox($fd: column, $gap: 32px);
        padding-bottom: 32px;
        padding-right: inherit;

        img {
            display: block;
            cursor: pointer;
            transition: all .15s ease-in-out;

            &:hover {
                transform: scale(1.25) translateX(-4px);
            }
        }
    }

    &__scroll {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 67vw;
        @include flexbox($fd: column, $jc: end, $gap: 8px);

        span {
            color: $main-color;
            font-size: 23px;
        }

        .scroll-wrapper {
            width: 2px;
            height: 25%;
            overflow: hidden;
        }

        .scroll-line {
            content: '';
            display: block;
            width: 100%;
            height: 125%;
            background-color: $main-color;
            animation: moveDown 3.5s ease-out infinite;
        }

        @keyframes moveDown {
            from {
              transform: translateY(-100%);
            }
            to {
              transform: translateY(100%);
            }
        }
    }
}

.ellipse-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;

    .ellipse {
        transform: translate(-15vw, -10vw);
        display: inline-block;
        width: 60vw;
        aspect-ratio: 1 / 1;

        @include mq(mobile) {
            width: 115%;
            transform: unset;
            position: absolute;
            top: -170px;
            right: 0;
        }
        @media(max-width: 515px) {
            width: 130%;
            top: -20px;
        }
    }
}

.ellipse-overlap {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
    transform: translateY(50%);
    @include mq(tablet) {
        width: 175px;
    }
    @include mq(mobile) {
        width: 150px;
    }
}

.container {
    height: 100%;
    position: relative;
    overflow: hidden;
}