<section class="hero">
    <div class="container">
        <div class="hero__main-content">
            <div class="hero__left" data-aos="fade-right">
                <img src="./assets/img/personal-img.png" alt="Image of Developer" draggable="false">
            </div>
            <div class="hero__right" data-aos="fade-left">
                <h1><span class="greet">Hello! I am Devrim</span>
                    <br>FRONTEND DEVELOPER</h1>
            </div>
        </div>
        <div *ngIf="screenWidth >= 768" class="hero__icons">
            <a href="https://github.com/devkoepeli" target="_blank">
                <img src="./assets/img/github.svg" alt="GitHub Icon">
            </a>
            <a href="mailto:devrim.koepeli@outlook.com">
                <img src="./assets/img/mail.svg" alt="Mail Icon">
            </a>
            <a href="https://linkedin.com/in/devrimkoepeli" target="_blank">
                <img src="./assets/img/linkedin.svg" alt="Linkedin Icon">
            </a>
        </div>
    </div>
    <div class="ellipse-container">
        <img class="ellipse" src="./assets/img/ellipse.svg" draggable="false" alt="ellipse">
    </div>
    <div *ngIf="screenWidth >= 768" class="hero__scroll">
        <span>SCROLL</span>
        <div class="scroll-wrapper">
            <div class="scroll-line"></div>
        </div>
    </div>
    
    <img class="ellipse-overlap" src="./assets/img/ellipse.svg" alt="ellipse" draggable="false">
</section>