@import '../../shared/styles/mixins.scss';
@import '../../shared/styles/variables.scss';

.about__container {
    @include flexbox($gap: 80px, $ai: start);
    padding-top: 176px;
    padding-bottom: 120px;

    @include mq(tablet) {
        flex-direction: column;
        gap: 64px;
    }
    @include mq(mobile) {
        gap: 48px;
    }

    h2 {
        width: 50%;
        font-size: 96px;
        color: $main-color;
        line-height: 1;
        @include mq(tablet) {
            width: 100%;
            text-align: center;
            font-size: 80px;
        }
        @include mq(mobile) {
            font-size: 64px;
            text-align: start;
        }
    }

    div {
        width: 50%;
        @include flexbox($fd: column, $ai: center, $gap: 32px);
        @include mq(tablet) {
            width: 100%;
            text-align: center;
        }

        @include mq(mobile) {
            text-align: start;
        }

        p {
            color: $font-black;
            font-size: 23px;
        }
    }
}

.ellipse {
    position: absolute;
    left: 70vw;
    top: 50px;
    display: inline-block;
    width: 80px;
}

.o-hidden {
    overflow: hidden;
}