<section>
    <div class="container o-hidden">
        <div class="about__container">
            <h2 data-aos="fade-right">Let's work together</h2>
            <div>
                <p data-aos="fade-left">As a Frontend Developer based in Aarau, Switzerland, I enjoy turning design concepts and business visions into solutions. 
                    With prior experience in designing websites that convert visitors to customers I understand the importance
                    of an excellent user experience in applications.
                    My straightforward approach and hands on mentality enable me to dive deep into new technologies and embrace technical challenges. 
                    <br><br>
                    If you're in search of a committed developer to bring your projects to life, I'm excited to connect with you!
                </p>
                <div data-aos="fade-down">
                    <a href="#contact" class="main-button">Send a message</a>
                </div>
            </div>
        </div>
        <img class="ellipse" src="./assets/img/ellipse.svg" alt="ellipse" draggable="false">
    </div>
</section>