<section>
    <div class="container">
        <div *ngIf="isEnglish">
            <h1>Privacy Policy</h1>
            <p>Last updated on: 26.01.2024</p><br>
            <p>Transparent handling of personal data is very important to us. This data protection statement provides
                information on what personal data we collect, for what purpose and to whom we pass it on. We regularly
                review and update this privacy policy to ensure the highest level of transparency.</p><br>
            <h2>1. What services we use</h2>
            <p></p><br>
            <h2>2. Contact Information</h2>
            <p>If you have any questions or concerns about our protection of your data, you can always reach us by email
                at
                devrim.koepeli&#64;outlook.com. Responsible for data processing done through this website is:</p><br>
            <p>Devrim Köpeli<br>Hasenweg 7<br>5034 Suhr<br>Switzerland<br><br>
            </p><br>
            <h2>3. General principles</h2>
            <h3>3.1 What data we collect from you and from whom we receive this data</h3>
            <p>First and foremost, we process personal data that you provide to us or that we collect when operating our
                website. We may also receive personal data about you from third parties. These may be the following
                categories:</p>
            <ul>
                <li>Personal master data (name, address, dates of birth, etc.);</li>
                <li>Contact information (cell phone number, email address, etc.);</li>
                <li>Financial data (e.g. account details);</li>
                <li>Online identifiers (e.g. cookie identifier, IP addresses);</li>
                <li>Location and traffic data;</li>
                <li>Sound and image recording;</li>
                <li>particularly sensitive data (e.g. biometric data or information about your health).</li>
            </ul><br>
            <h3>3.2 Under what conditions do we process your data?</h3>
            <p>We process your data in good faith and for the purposes set out in this privacy policy. In doing so, we
                ensure transparent and proportionate processing.<br><br>If, in exceptional cases, we are unable to
                comply
                with these principles, the data processing may still be lawful because there is a justification. A
                justification reason may be in particular:</p>
            <ul>
                <li>Your consent;</li>
                <li>the execution of a contract or pre-contractual measures;</li>
                <li>our legitimate interests, unless your interests are overridden.</li>
            </ul><br>
            <h3>3.3 How can you withdraw your consent?</h3>
            <p>If you have given us consent to process your personal data for specific purposes, we will process your
                data
                within the scope of this consent unless we have another justification.<br><br>You can revoke your
                consent at
                any time by sending an e-mail to the address given in the imprint. Data processing that has already
                taken
                place is not affected by this.</p><br>
            <h3>3.4 In which cases can we share your data with third parties?</h3><br>
            <h4>a. Principle</h4>
            <p>We may need to rely on the services of third parties or affiliates and engage them to process your data
                (known as processors). Categories of recipients are namely:</p>
            <ul>
                <li>Accounting, fiduciary and auditing firm;</li>
                <li>Consulting firms (legal, tax, etc.);</li>
                <li>IT service provider (web hosting, support, cloud services, website design, etc.);</li>
                <li>Payment service provider;</li>
                <li>Provider of tracking, conversion and advertising services.</li>
            </ul><br>
            <p>We ensure that these third parties and our affiliates comply with the requirements of data protection and
                treat your personal data confidentially.<br><br>We may also be required to disclose your personal
                information to government authorities.</p><br>
            <h4>b. Visiting our social media channels</h4>
            <p>We may have embedded links to our social media channels on our website. This is apparent to you in each
                case
                (typically via corresponding icons). If you click on the icons, you will be redirected to our social
                media
                channels.<br><br>In this case, the social media providers learn that you are accessing their platform
                from
                our website. The social media providers can use the data collected in this way for their own purposes.
                We
                would like to point out that we have no knowledge of the content of the transmitted data or its use by
                the
                operators.</p><br>
            <h4>c. Transfer abroad</h4>
            <p>Under certain circumstances, your personal data may be transferred to companies abroad in the course of
                order
                processing. These companies are obligated to data protection to the same extent as we are. The transfer
                may
                take place worldwide.<br><br>If the level of data protection does not correspond to that in Switzerland,
                we
                carry out a prior risk assessment and ensure contractually that the same level of protection is
                guaranteed
                as in Switzerland (for example, by means of the new standard contractual clauses of the EU Commission or
                other legally prescribed measures). If our risk assessment is negative, we take additional technical
                measures to protect your data. You can access the EU Commission's standard contractual clauses at the
                following link.
                <span class="link">
                    https://commission.europa.eu/publications/standard-contractual-clauses-controllers-and-processors-eueea_de
                </span>
            </p><br>
            <h3>3.5 How long do we keep your data?</h3>
            <p>We store personal data only for as long as is necessary to fulfill the individual purposes for which the
                data
                was collected.<br><br>Data that we store when you visit our website is kept for twelve months. An
                exception
                is made for analysis and tracking data, which may be kept longer.<br><br>We store contract data for
                longer,
                as we are obliged to do so by legal regulations. In particular, we must retain business communications,
                concluded contracts and accounting records for up to 10 years. As far as we no longer need such data
                from
                you to perform the services, the data will be blocked and we will only use it for accounting and tax
                purposes.</p><br>
            <h3>3.6 How do we protect your data?</h3>
            <p>We will keep your information secure and take all reasonable steps to protect your information from loss,
                access, misuse or alteration.<br><br>Our contractual partners and employees who have access to your data
                are
                obliged to comply with data protection regulations. In some cases, it will be necessary for us to pass
                on
                your requests to companies affiliated with us. In these cases, too, your data will be treated
                confidentially.<br><br>Within our website, we use the SSL (Secure Socket Layer) procedure in conjunction
                with the highest encryption level supported by your browser.</p><br>
            <h3>3.7 What rights do you have?</h3><br>
            <h4>a. Right to information</h4>
            <p>You can request information about the data we have stored about you at any time. We ask you to send your
                request for information together with proof of identity to email.<br><br>You also have the right to
                receive
                your data in a common file format if we process your data automatically and if:</p>
            <ul>
                <li>you have given your consent for the processing of this data; or</li>
                <li>you have disclosed data in connection with the conclusion or performance of a contract.</li>
            </ul>
            <p>We may restrict or refuse to provide information or data if this conflicts with our legal obligations,
                our
                own legitimate interests, public interests or the interests of a third party.<br><br>The processing of
                your
                request is subject to the statutory processing period of 30 days. However, we may extend this period due
                to
                a high volume of requests, for legal or technical reasons, or because we need more detailed information
                from
                you. You will be informed of the extension of the deadline in good time, at least in text form.</p><br>
            <h4>b. Deletion and correction</h4><br>
            <p>You have the option of requesting the deletion or correction of your data at any time. We may reject the
                request if statutory provisions oblige us to store the data for a longer period or to retain it
                unchanged or
                if your request conflicts with a legal requirement.<br><br>Please note that exercising your rights may
                be in
                conflict with contractual agreements and may have corresponding effects on the performance of the
                contract
                (e.g. premature termination of the contract or cost consequences).</p><br>
            <h4>c. Legal process</h4>
            <p>If you are affected by the processing of personal data, you have the right to enforce your rights in
                court or
                to file a complaint with the competent supervisory authority. The competent supervisory authority in
                Switzerland is the Federal Data Protection and Information Commissioner: https://www.edoeb.admin.ch</p>
            <br>
            <h3>3.8 Changes to the privacy policy</h3>
            <p>We may change this privacy policy at any time. The changes will be published on , you will not be
                informed
                separately.</p><br>
            <h2>4. Individual data processing operations</h2><br>
            <h3>4.1 Providing the website and creating log files</h3><br>
            <h4>What information do we receive and how do we use it?</h4>
            <p>By visiting , certain data is automatically stored on our servers or on servers of services and products
                that
                we obtain and / or have installed, for purposes of system administration, for statistical or backup
                purposes
                or for tracking purposes. These are:</p>
            <ul>
                <li>the name of your Internet service provider;</li>
                <li>Your IP address (in some circumstances);</li>
                <li>the version of your browser software;</li>
                <li>the operating system of the computer with which the URL is accessed;</li>
                <li>the date and time of access;</li>
                <li>the web page from which you are visiting URL;</li>
                <li>the search words you used to find the URL.</li>
            </ul><br>
            <h4>Why may we process this data?</h4>
            <p>This data cannot be assigned to a specific person and there is no merging of this data with other data
                sources. The log files are stored in order to guarantee the functionality of the website and to ensure
                the
                security of our information technology systems. This is our legitimate interest.</p><br>
            <h4>How can you prevent data collection?</h4>
            <p>The data is only stored for as long as is necessary to achieve the purpose for which it was collected.
                Accordingly, the data is deleted after the end of each session. The storage of the log files is
                mandatory
                for the operation of the website, you therefore have no possibility to object.</p> <br><br>
            <h3>BrainBox Generators</h3> BrainBox Generators is a service of <a style="color:inherit;"
                href="https://brainbox.swiss/" rel="nofollow" target="_blank">BrainBox Solutions GmbH</a> to recognize
            all
            data protection-relevant services on a website and, among other things, to help with the creation of the
            privacy
            policy. No personal data is collected or processed in the process.
        </div>
        <div *ngIf="!isEnglish">
            <h1>Datenschutzerklärung</h1>
            <p>Zuletzt aktualisiert am: 26.01.2024</p><br>
            <p>Der transparente Umgang mit personenbezogenen Daten ist uns sehr wichtig. Diese Datenschutzerklärung gibt
                Auskunft darüber, welche personenbezogenen Daten wir sammeln, zu welchem Zweck und an wen wir sie
                weitergeben. Wir überprüfen und aktualisieren diese Datenschutzrichtlinie regelmäßig, um ein höchstes
                Maß an Transparenz zu gewährleisten.</p><br>
            <h2>1. Welche Dienste wir nutzen</h2>
            <p></p><br>
            <h2>2. Kontaktinformationen</h2>
            <p>Wenn Sie Fragen oder Bedenken zum Schutz Ihrer Daten haben, können Sie uns jederzeit per E-Mail unter
                devrim.koepeli&#64;outlook.com erreichen. Verantwortlich für die Datenverarbeitung auf dieser Website ist:</p><br>
            <p>Devrim Köpeli<br>Hasenweg 7<br>5034 Suhr<br>Switzerland<br><br>
            </p><br>
            <h2>3. Allgemeine Grundsätze</h2>
            <h3>3.1 Welche Daten wir von Ihnen sammeln und von wem wir diese Daten erhalten</h3>
            <p>In erster Linie verarbeiten wir personenbezogene Daten, die Sie uns zur Verfügung stellen oder die wir
                bei der Nutzung unserer Website erfassen. Wir können auch personenbezogene Daten über Sie von Dritten
                erhalten. Dies können folgende Kategorien sein:</p>
            <ul>
                <li>Persönliche Stammdaten (Name, Adresse, Geburtsdaten usw.);</li>
                <li>Kontaktinformationen (Handynummer, E-Mail-Adresse usw.);</li>
                <li>Finanzdaten (z. B. Kontodetails);</li>
                <li>Online-Identifikatoren (z. B. Cookie-Identifikator, IP-Adressen);</li>
                <li>Standort- und Verkehrsdaten;</li>
                <li>Ton- und Bildaufnahmen;</li>
                <li>besonders sensible Daten (z. B. biometrische Daten oder Informationen über Ihre Gesundheit).</li>
            </ul><br>
            <h3>3.2 Unter welchen Bedingungen verarbeiten wir Ihre Daten?</h3>
            <p>Wir verarbeiten Ihre Daten in gutem Glauben und zu den in dieser Datenschutzerklärung festgelegten
                Zwecken. Dabei sorgen wir für eine transparente und angemessene Verarbeitung.<br><br>Falls wir in
                Ausnahmefällen diesen Grundsätzen nicht nachkommen können, kann die Datenverarbeitung dennoch rechtmäßig
                sein, weil es eine Rechtfertigung gibt. Ein Rechtfertigungsgrund kann insbesondere sein:</p>
            <ul>
                <li>Ihre Zustimmung;</li>
                <li>die Durchführung eines Vertrags oder vorvertraglicher Maßnahmen;</li>
                <li>unsere berechtigten Interessen, es sei denn, Ihre Interessen überwiegen.</li>
            </ul><br>
            <h3>3.3 Wie können Sie Ihre Zustimmung widerrufen?</h3>
            <p>Wenn Sie uns eine Zustimmung zur Verarbeitung Ihrer personenbezogenen Daten für bestimmte Zwecke erteilt
                haben, verarbeiten wir Ihre Daten im Rahmen dieser Zustimmung, sofern wir keine andere Rechtfertigung
                haben.<br><br>Sie können Ihre Zustimmung jederzeit durch Senden einer E-Mail an die im Impressum
                angegebene Adresse widerrufen. Bereits erfolgte Datenverarbeitungen werden dadurch nicht beeinträchtigt.
            </p><br>
            <h3>3.4 In welchen Fällen können wir Ihre Daten an Dritte weitergeben?</h3><br>
            <h4>a. Grundsatz</h4>
            <p>Wir müssen möglicherweise auf die Dienste Dritter oder verbundener Unternehmen zurückgreifen und sie
                beauftragen, Ihre Daten zu verarbeiten (bekannt als Auftragsverarbeiter). Kategorien von Empfängern sind
                insbesondere:</p>
            <ul>
                <li>Buchhaltungs-, Treuhand- und Wirtschaftsprüfungsgesellschaft;</li>
                <li>Beratungsfirmen (Recht, Steuern usw.);</li>
                <li>IT-Dienstleister (Webhosting, Support, Cloud-Dienste, Website-Design usw.);</li>
                <li>Zahlungsdienstleister;</li>
                <li>Anbieter von Tracking-, Konversions- und Werbediensten.</li>
            </ul><br>
            <p>Wir stellen sicher, dass diese Dritten und unsere verbundenen Unternehmen die Anforderungen des
                Datenschutzes erfüllen und Ihre personenbezogenen Daten vertraulich behandeln.<br><br>Wir können auch
                verpflichtet sein, Ihre personenbezogenen Daten an staatliche Behörden weiterzugeben.</p><br>
            <h4>b. Besuch unserer Social-Media-Kanäle</h4>
            <p>Auf unserer Website haben wir möglicherweise Links zu unseren Social-Media-Kanälen eingebettet. Dies ist
                Ihnen in jedem Fall ersichtlich (typischerweise über entsprechende Symbole). Wenn Sie auf die Symbole
                klicken, werden Sie zu unseren Social-Media-Kanälen weitergeleitet.<br><br>In diesem Fall erfahren die
                Social-Media-Anbieter, dass Sie von unserer Website aus auf ihre Plattform zugreifen. Die
                Social-Media-Anbieter können die auf diese Weise gesammelten Daten für ihre eigenen Zwecke nutzen. Wir
                möchten darauf hinweisen, dass wir keine Kenntnis vom Inhalt der übermittelten Daten oder deren Nutzung
                durch die Betreiber haben.</p><br>
            <h4>c. Übertragung ins Ausland</h4>
            <p>Unter bestimmten Umständen können Ihre personenbezogenen Daten im Rahmen der Auftragsverarbeitung an
                Unternehmen im Ausland übertragen werden. Diese Unternehmen sind zum Datenschutz im gleichen Maße
                verpflichtet wie wir. Die Übertragung kann weltweit erfolgen.<br><br>Falls das Datenschutzniveau nicht
                dem in der Schweiz entspricht, führen wir eine vorherige Risikobeurteilung durch und stellen vertraglich
                sicher, dass das gleiche Schutzniveau wie in der Schweiz garantiert wird (zum Beispiel durch die neuen
                Standardvertragsklauseln der EU-Kommission oder andere gesetzlich vorgeschriebene Maßnahmen). Falls
                unsere Risikobeurteilung negativ ausfällt, ergreifen wir zusätzliche technische Maßnahmen zum Schutz
                Ihrer Daten. Sie können auf die Standardvertragsklauseln der EU-Kommission über den folgenden Link
                zugreifen.
                <span class="link">
                    https://commission.europa.eu/publications/standard-contractual-clauses-controllers-and-processors-eueea_de
                </span>
            </p><br>
            <h3>3.5 Wie lange speichern wir Ihre Daten?</h3>
            <p>Wir speichern personenbezogene Daten nur so lange, wie es notwendig ist, um die individuellen Zwecke zu
                erfüllen, für die die Daten gesammelt wurden.<br><br>Daten, die wir bei Ihrem Besuch unserer Website
                speichern, werden für zwölf Monate aufbewahrt. Eine Ausnahme bilden Analyse- und Trackingdaten, die
                länger aufbewahrt werden können.<br><br>Vertragsdaten speichern wir länger, da wir dazu durch
                gesetzliche Vorschriften verpflichtet sind. Insbesondere müssen wir Geschäftskommunikation,
                abgeschlossene Verträge und Buchhaltungsunterlagen für bis zu 10 Jahre aufbewahren. Soweit wir solche
                Daten von Ihnen zur Erbringung der Dienstleistungen nicht mehr benötigen, werden die Daten gesperrt und
                wir verwenden sie nur noch für Buchhaltungs- und Steuerzwecke.</p><br>
            <h3>3.6 Wie schützen wir Ihre Daten?</h3>
            <p>Wir halten Ihre Informationen sicher und ergreifen alle angemessenen Maßnahmen, um Ihre Informationen vor
                Verlust, Zugriff, Missbrauch oder Veränderung zu schützen.<br><br>Unsere Vertragspartner und
                Mitarbeiter, die Zugang zu Ihren Daten haben, sind zur Einhaltung der Datenschutzbestimmungen
                verpflichtet. In einigen Fällen ist es notwendig, dass wir Ihre Anfragen an mit uns verbundene
                Unternehmen weiterleiten. Auch in diesen Fällen werden Ihre Daten vertraulich
                behandelt.<br><br>Innerhalb unserer Website verwenden wir das SSL (Secure Socket Layer)-Verfahren in
                Verbindung mit dem höchsten von Ihrem Browser unterstützten Verschlüsselungsgrad.</p><br>
            <h3>3.7 Welche Rechte haben Sie?</h3><br>
            <h4>a. Auskunftsrecht</h4>
            <p>Sie können jederzeit Informationen über die von uns über Sie gespeicherten Daten anfordern. Wir bitten
                Sie, Ihre Anfrage zusammen mit einem Nachweis der Identität an email zu senden.<br><br>Sie haben auch
                das Recht, Ihre Daten in einem gängigen Dateiformat zu erhalten, wenn wir Ihre Daten automatisch
                verarbeiten und wenn:</p>
            <ul>
                <li>Sie Ihre Zustimmung zur Verarbeitung dieser Daten gegeben haben; oder</li>
                <li>Sie Daten im Zusammenhang mit dem Abschluss oder der Durchführung eines Vertrags offenbart haben.
                </li>
            </ul>
            <p>Wir können die Bereitstellung von Informationen oder Daten einschränken oder verweigern, wenn dies mit
                unseren gesetzlichen Pflichten, unseren eigenen berechtigten Interessen, öffentlichen Interessen oder
                den Interessen Dritter in Konflikt steht.<br><br>Die Bearbeitung Ihrer Anfrage unterliegt der
                gesetzlichen Bearbeitungsfrist von 30 Tagen. Wir können diese Frist jedoch aufgrund eines hohen
                Anfrageaufkommens, aus rechtlichen oder technischen Gründen oder weil wir von Ihnen detailliertere
                Informationen benötigen, verlängern. Sie werden rechtzeitig über die Verlängerung der Frist mindestens
                in Textform informiert.</p><br>
            <h4>b. Löschung und Korrektur</h4><br>
            <p>Sie haben die Möglichkeit, jederzeit die Löschung oder Korrektur Ihrer Daten zu beantragen. Wir können
                den Antrag ablehnen, wenn gesetzliche Vorschriften uns verpflichten, die Daten für einen längeren
                Zeitraum zu speichern oder unverändert zu behalten oder wenn Ihr Antrag mit einer rechtlichen
                Anforderung in Konflikt steht.<br><br>Bitte beachten Sie, dass die Ausübung Ihrer Rechte in Konflikt mit
                vertraglichen Vereinbarungen stehen kann und entsprechende Auswirkungen auf die Leistung des Vertrags
                haben kann (z. B. vorzeitige Beendigung des Vertrags oder Kostenfolgen).</p><br>
            <h4>c. Rechtlicher Prozess</h4>
            <p>Wenn Sie von der Verarbeitung personenbezogener Daten betroffen sind, haben Sie das Recht, Ihre Rechte
                vor Gericht durchzusetzen oder eine Beschwerde bei der zuständigen Aufsichtsbehörde einzureichen. Die
                zuständige Aufsichtsbehörde in der Schweiz ist der Eidgenössische Datenschutz- und
                Öffentlichkeitsbeauftragte: https://www.edoeb.admin.ch</p>
            <br>
            <h3>3.8 Änderungen der Datenschutzerklärung</h3>
            <p>Wir können diese Datenschutzerklärung jederzeit ändern. Die Änderungen werden auf veröffentlicht, Sie
                werden nicht separat informiert.</p><br>
            <h2>4. Einzelne Datenverarbeitungsvorgänge</h2><br>
            <h3>4.1 Bereitstellung der Website und Erstellung von Log-Dateien</h3><br>
            <h4>Welche Informationen erhalten wir und wie nutzen wir sie?</h4>
            <p>Beim Besuch von werden automatisch bestimmte Daten auf unseren Servern oder auf Servern von Diensten und
                Produkten gespeichert, die wir beziehen und/oder installiert haben, zu Zwecken der Systemadministration,
                für statistische oder Backup-Zwecke oder für Tracking-Zwecke. Dazu gehören:</p>
            <ul>
                <li>der Name Ihres Internetdienstanbieters;</li>
                <li>Ihre IP-Adresse (in einigen Fällen);</li>
                <li>die Version Ihrer Browsersoftware;</li>
                <li>das Betriebssystem des Computers, mit dem die URL aufgerufen wird;</li>
                <li>das Datum und die Uhrzeit des Zugriffs;</li>
                <li>die Webseite, von der Sie die URL besuchen;</li>
                <li>die Suchwörter, die Sie verwendet haben, um die URL zu finden.</li>
            </ul><br>
            <h4>Warum dürfen wir diese Daten verarbeiten?</h4>
            <p>Diese Daten können keiner bestimmten Person zugeordnet werden und es erfolgt keine Zusammenführung dieser
                Daten mit anderen Datenquellen. Die Log-Dateien werden gespeichert, um die Funktionalität der Website zu
                gewährleisten und die Sicherheit unserer Informationstechnologiesysteme zu sichern. Dies ist unser
                berechtigtes Interesse.</p><br>
            <h4>Wie können Sie die Datenerfassung verhindern?</h4>
            <p>Die Daten werden nur so lange gespeichert, wie es für den Zweck, für den sie erhoben wurden, notwendig
                ist. Dementsprechend werden die Daten nach dem Ende jeder Sitzung gelöscht. Die Speicherung der
                Log-Dateien ist für den Betrieb der Website obligatorisch, Sie haben daher keine Möglichkeit, zu
                widersprechen.</p> <br><br>
            <h3>BrainBox Generators</h3> BrainBox Generators ist ein Dienst der <a style="color:inherit;"
                href="https://brainbox.swiss/" rel="nofollow" target="_blank">BrainBox Solutions GmbH</a> zur Erkennung
            aller datenschutzrelevanten Dienste auf einer Webseite und unter anderem zur Unterstützung bei der
            Erstellung der Datenschutzerklärung. Es werden dabei keine personenbezogenen Daten gesammelt oder
            verarbeitet.
        </div>
    </div>
</section>