@mixin flexbox($fd: row, $jc: center, $ai: center, $gap: 0px) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
}

@mixin page-padding {
    padding-left: 64px;
    padding-right: 64px;

    @media(max-width: 991.98px) {
        padding-left: 32px;
        padding-right: 32px;
    }

    @media(max-width: 767.98px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}