@mixin flexbox($fd: row, $jc: center, $ai: center, $gap: 0px) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
}

@mixin page-margin {
    margin-left: 92px;
    margin-right: 92px;

    @media(max-width: 991.98px) {
        margin-left: 32px;
        margin-right: 32px;
    }

    @media(max-width: 767.98px) {
        margin-left: 16px;
        margin-right: 16px;
    }
}