<footer [class.bottom]="clientHeight >= 1115 && isLegalNoticeRoute">
    <div class="container">
        <div class="footer-container">
            <div class="logo-link">
                <a routerLink="/">
                    <img src="./assets/img/logo.svg" alt="Logo">
                </a>
            </div>
            <div class="footer-info">
                <div class="name">© Devrim Köpeli 2024</div>
            </div>
            <div class="footer-icons">
                <a href="https://github.com/devkoepeli" target="_blank">
                    <img src="./assets/img/github-white.svg" alt="Github">
                </a>
                <a href="mailto:devrim.koepeli@outlook.com">
                    <img src="./assets/img/message-white.svg" alt="Message">
                </a>
                <a href="https://linkedin.com/in/devrimkoepeli" target="_blank">
                    <img src="./assets/img/linkedin-white.svg" alt="LinkedIn">
                </a>
            </div>
        </div>
        <div class="legal-notice-wrapper">
            <a class="legal-notice-link" routerLink="/legal-notice">Legal Notice</a>
        </div>
    </div>
</footer>