@import '../../../shared/styles/mixins.scss';
@import '../../../shared/styles/variables.scss';

.work-sample {
    @include flexbox($jc: start, $gap: 80px);
    padding-bottom: 120px;
    @include mq(tablet) {
        flex-direction: column;
        padding-bottom: 64px;
        gap: 64px;
    }

    .sample-img-container {
        position: relative;
        width: 50%;

        @include mq(tablet) {
            width: 75%;
        }
        @include mq(mobile) {
            width: 100%;
        }

        .ellipse-3 {
            position: absolute;
            z-index: -1;
            top: 50%;
            left: -50%;
            width: 390px;

            @include mq(mobile) {
                width: 250px;
                top: 40%;
            }
        }

        .ellipse-4 {
            position: absolute;
            z-index: -1;
            bottom: -30%;
            left: 25%;
            width: 240px;

            @include mq(tablet) {
                right: -20%;
                bottom: -30%;
                left: unset;
            }
        }
    }

    .sample-img {
        box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.15);
        transition: all .15s ease-in-out;
        cursor: pointer;
        width: 100%;
        display: block;
        
        @media (hover: hover) and (pointer: fine) {
        &:hover {
            transform: scale(1.075) translateY(-32px);
        } 
        }
    }
}

.work-description {
    @include flexbox($fd: column, $ai: start);
    width: 50%;
    position: relative;

    @include mq(tablet) {
        width: 75%;
        align-items: center;
    }
    @include mq(mobile) {
        width: 100%;
    }

    h3 {
        font-size: 45px;
        color: $main-color;
        padding-bottom: 16px;
    }
    
    div {
        color: $main-color;
        font-size: 23px;
        padding-bottom: 24px;
        @include mq(tablet) {
            text-align: center;
        }
    }

    p {
        font-size: 16px;
        color: $font-black;
        padding-bottom: 32px;
        @include mq(tablet) {
            text-align: center;
        }
    }

    .t-end {
        text-align: end;
        @include mq(tablet) {
            text-align: center;
        }
    }

    .buttons {
        @media (max-width: 400px) {
            @include flexbox($fd: column, $gap: 16px);
        }

        .secondary-button {
            display: inline-block;
            background-color: $main-color;
            color: $font-white;
            font-size: 23px;
            border: 2px solid $main-color;
            border-radius: 8px;
            padding: 14px 32px;
            text-decoration: none;
            transition: .125s ease-in-out;
            background-image: linear-gradient(to top left, $secondary-color 10%, $main-color 40%, $main-color 50%, transparent 50%);
            background-size: 200% 200%;
            background-position: bottom right;
            position: relative;
            overflow: hidden;
            margin-left: 32px;
            text-align: center;
            @media (max-width: 400px) {
                margin-left: 0;
            }
            @media(hover: hover) and (pointer: fine) {
                &:hover {
                    color: $main-color;
                    background-color: transparent;
                    background-position: top left;
                    transform: scale(1.075);
                }
    
                &:active {
                    transform: unset;
                }
            }
        }
    }

    .ellipse-5 {
        width: 130px;
        position: absolute;
        bottom: -160px;
        right: 40px;

        @include mq(tablet) {
            display: none;
        }
    }
}

.jc-end {
    justify-content: end;
}

.ai-end {
    align-items: end;
    order: -1;

    @include mq(tablet) {
        order: 1;
        align-items: center;
    }
}
